<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" style="margin-top: 30px;">
    <div ng-controller="mainController">
        <div>
            <label for="">What is your twtiter handle?</label>
            <input type="text" ng-model="twitter_handle">

            <div class="alert" ng-class="{ 'alert-warning': twitter_handle.length < characters, 'alert-danger': twitter_handle.length > characters }" ng-show="twitter_handle.length !== characters">
                <div ng-show="twitter_handle.length < characters">
                    You have less than {{ characters }} characters.
                </div>
                <div ng-show="twitter_handle.length > characters">
                    You have more than {{ characters}} characters.
                </div>
            </div>
        </div>
        <hr />
        <h1>twitter.com/{{ lcase_word(twitter_handle) }}</h1>
        <h3>Rules</h3>
        <ul>
            <li ng-repeat="rule in rules">{{ rule.rulename }}</li>
        </ul>

<!--        <input type="button" value="Click me" ng-click="alertClick()">-->
<!--        <div ng-cloak>{{ name }}</div>-->

    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-resource.min.js"></script>
<script src="app.js">

</script>
</html>
